html,
body {
    height: 100%;
    background-color: #f1f1f1;
}

body {
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}



button {
    text-decoration: none;
    border: none;
    outline: 0 !important;
}

.btnCombinar {
    position: absolute;
    left: 46.36%;
    right: 43.44%;
    top: 72.08%;
    bottom: 20.42%;

    background: #fb2d5d;
    border-radius: 5px;

    width: 169px;
    height: 54px;
    color: white;
    border: none;
}
.btn- {
    background: url("data/btn-.png");
    height: 31px;
    width: 31px;
    
}

.btnM {
    background: url("data/btn+.png");
    width: 31px;
    height: 30px;
   
}

.btn-:focus {
    background: url("data/btn-focus.png");
}

.btnM:focus {
    background: url("data/btn+focus.png");
}

.btn-2:focus {
    background: url("data/btn-focus.png");
}
.btnM2:focus {
    background: url("data/btn+focus.png");
}

.btn-2 {
    background: url("data/btn-.png");
    height: 31px;
    width: 31px;
}

.btnM2 {
    background: url("data/btn+.png");
    width: 31px;
    height: 30px;
}


.btnContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 56px;
    left: 460px;
    top: -224px; 
}

.btnContainer2 {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 56px;
    left: 1035px;
    top: -224px; 
}

.btnpista{
    background: url("data/pista.png");
    background-size: cover;
    position: relative;
    width: 50px;
    height: 50px;
}
.pistacontainer{
    display: flex;
    position: relative;
    height: auto;
    left: 1160px;
    top: 240px;
    width: 32px;
    
}




